.wrapper {
  display: flex;
  justify-content: Center;
  align-items: center;
  flex-direction: column;
}
.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  text-align: center;
}
.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.inputBox {
  width: 200px;
}
